@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="jumbotron">
        <h1>Web Design and Development T323</h1>
        <p>This website contains the group assessment for ICT272, a library management system.</p>
        <p><a href="/Books/Index" class="btn btn-primary btn-lg">Get Started</a></p>
    </div>
</div>

<div class="row">
    <h3>Group Details:</h3>
    <div class="mx-auto table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Student ID</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Student Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>12201294</td>
                    <td>Mary Regine Delmo</td>
                    <td>12201294@students.koi.edu.au</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>12201334</td>
                    <td>Nort Jofhil Licmuan</td>
                    <td>12201334@students.koi.edu.au</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>12100876</td>
                    <td>Zark Shahbaz Asim</td>
                    <td>12100876@students.koi.edu.au</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>12100951</td>
                    <td>Muhammad Asad Aslam</td>
                    <td>12100951@students.koi.edu.au</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>